body {
	background: #000;
	color: #fff;
	font-family: "Roboto", sans-serif;
}

canvas, video, #_content {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

video {
	display: none;
}

.facebox, .facebox2, .infofacebox {
	position: fixed;
	// background: rgba(255, 255, 255, 0.25);
}

.facebox {
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.infofacebox {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-size: 90%;
	line-height: 1.3;
	z-index: 2;
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #222;
	box-sizing: border-box;
	padding: 25px;
	height: 180px;
	a {
		text-decoration: none;
		color: inherit;
	}
}

.loader {
	position: fixed;
	background: #000;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding-top: 30vh;
	box-sizing: border-box;
	i {
		font-size: 500%;
		animation: rotate 1s linear infinite;
	}
}

.bounder {
	position: fixed;
	border: 10px solid white;
	border-radius: 100%;
	transition: 0.5s;
	z-index: 5;
}

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.logo {
	position: fixed;
	z-index: 100;
	top: 20px;
	left: 20px;
	img {
		height: 30px;
		vertical-align: middle;
	}
}