body {
	background: #000;
	color: #fff;
}

canvas, video, #_content {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

video {
	display: none;
}

.facebox, .facebox2, .infofacebox {
	position: fixed;
	// background: rgba(255, 255, 255, 0.25);
}

.facebox {
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.infofacebox {
	background: white;
	z-index: 2;
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #222;
	height: 150px;
}